.footer {
    padding-top: 105px;

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__p1 {
        margin-top: 28px;
    }

    &__p1,
    &__p2 {
        height: 130px;
        width: 430px;
        font-family: 'Lato';
        font-size: 14px;
        font-weight: 300;
        color: #898989;
        letter-spacing: 0.03em;
        line-height: 24px;
    }

    &__right {
        width: 615px;
        display: flex;
        justify-content: space-around;
    }

    &__h2 {
        margin-top: 10px;
        font-size: 18px;
        font-weight: bold;
        color: $color;
        letter-spacing: 0.03em;
        line-height: 26px;
        margin-bottom: 35px;
    }

    &__a {
        font-size: 16px;
        color: #898989;
        letter-spacing: 0.03em;
        line-height: 42px;
        -webkit-transition: color 0.3s;
        transition: color 0.3s;

        &:hover {
            color: $color;
        }
    }

    &__bottom {
        padding-top: 33px;
        height: 80px;
        background-color: #e6e6e6;
        display: flex;
        justify-content: space-between;
        background-position: center;
    }

    &__copy {
        width: 260px;
        font-family: 'Lato';
        font-size: 16px;
        color: #7a7a7a;
        text-align: right;
        letter-spacing: 0.03em;

    }

    &__social ul {
        display: flex;
    }



    .social__a {
        height: 32px;
        width: 32px;
        background-color: white;
        display: inline-block;
        text-align: center;
        padding-top: 8px;
        margin-right: 8px;
        color: #b2b2b2;
        transition: 0.3s;

        &:hover {
            background-color: $color;
        }
    }
}